/* commons */
body {
    font-family: 'Roboto', sans-serif;
}

.my_w10 {
    width: 10%;
}

.my_w50 {
    width: 50%;
}

.my_pr {
    padding-right: 1rem;
}

.my_pr-2 {
    padding-right: 2rem;
}

.my_mw20 {
    max-width: 20px;
}

.my_maxh {
    max-height: 150px;
}

.my_filter {
    filter: brightness(1);
}

.fs_5 {
    font-size: 0.5rem;
}

.fs_75 {
    font-size: 1rem;
}

.my_rounded {
    border-radius: 0.75rem;
}

.my_w20 {
    width: 20px;
}

.my_w70 {
    width: 70px;
}

.my_w2 {
    width: 2%;
}

.my_w8 {
    width: 8%;
}

.my_w60 {
    width: 60%;
}
/* header */
.header-top {
    display: flex;
    justify-content: end;
    background-color: black;
    padding-right: 10px;
}

.header-img {
    width: 60px;
}

header {
    height: 50px;
    position: relative;
    border-bottom: 1px solid black;
}

nav.sinistra {
    width: 65%;
    height: 100%;
    line-height: 50px;
    font-size: .9rem;
}

nav.destra {
    width: 35%;
    height: 100%;
    line-height: 50px;
    font-size: .9rem;
}


ul {
    list-style: none;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

.my_dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.my_dropdown ul {
    border-bottom: 1px solid black;
}


.my_burgler {
    align-self: center;
    width: 3%;
    margin-right: 10px;
}

.my_menu_hidden {
    width: 50%;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}

.my_menu_hidden li {
    border-bottom: 1px solid black;
    padding-left: 1rem;
}

.my_menu_hidden ul {
    padding-left: 0;
    background-color: white;
}

.my_sub {
    display: none;
}

.my_menu_hidden ul li:hover .my_sub {
    display: inline-block;
}

div.my_burgler:hover .my_menu_hidden {
    display: block;
}

.my_img_container {
    height: 1rem;
    width: 1rem;
    position: relative;
}

.chevron {
    width: 15px;
    height: 15px;
    position: relative;
}

.my_classic,
.my_hover,
.lens {
    position: absolute;
    top: 0;
    left: 0;
}

.my_hover{
    display: none;
}


li:hover .my_dropdown {
    display: inline-block;
}

li:hover .my_classic {
    display: none;
}

li:hover .my_hover {
    display: inline-block;
}
/* / header */

/* buttons */

.my_button {
    background-color: rgba(205,61,15,255);
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.my_button:hover {
    border: 1px solid white;
    -webkit-box-shadow: inset 4px 4px 15px 0px #FFFFFF, 5px 5px 15px 5px rgba(255,255,255,0); 
    box-shadow: inset 4px 4px 15px 0px #FFFFFF, 5px 5px 15px 5px rgba(255,255,255,0);
    color: gold;
}

.my_button-2 {
    background-color: rgba(45,100,230,255);
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.my_button-3 {
    background-color: rgba(255, 255, 255, 0.5);
    color: blue;
    font-weight: 700;
    border-radius: 1rem;
}

.my_button-4 {
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 1rem;
}

.my_button-5 {
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 1rem;
}

.my_button-2:hover,
.my_button-3:hover {
    border: 1px solid white;
    -webkit-box-shadow: inset 4px 4px 15px 0px #FFFFFF, 5px 5px 15px 5px rgba(255,255,255,0); 
    box-shadow: inset 4px 4px 15px 0px #FFFFFF, 5px 5px 15px 5px rgba(255,255,255,0);
}


.my_button-4:hover {
    border: 1px solid black;
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,255,255,0); 
    box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,255,255,0);
}

.my_button-5:hover {
    transform: scale(1.1);
    color: white;
}

/* text color */

.my_color {
    background-color: rgba(190,188,187,255);
}

.my_color-2 {
    background-color: rgba(22,28,59,255);
}

.my_color-3 {
    background-color: rgba(0,67,156,255);
}

.cards_active-2:active {
    border: 2px solid blue;
}

.cards_active:hover {
    transform: translate(0, -10%);
    cursor: pointer;
}

.bb_hover:hover {
    border-bottom: 2px solid lime;
}

/* jumbotron */
#jumbotron {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#jumbo-2 {
    height: 550px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* footer */
footer a {
    color: white;
    text-decoration: none;
}


/* .debug #header-top {
    background-color: aqua;
}

.debug #header-top h3 {
    background-color: black;
}

.debug #header-bottom {
    background-color: blue;
} */