/* commons */
.fs_5 {
    font-size: 0.5rem;
}

.my_rounded {
    border-radius: 0.75rem;
}

/* header */
/* header-top */

#header-top {
    height: 30px;
    background-color: black;
}

/* jumbotron */
#jumbotron {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#jumbo-2 {
    height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* .debug #header-top {
    background-color: aqua;
}

.debug #header-top h3 {
    background-color: black;
}

.debug #header-bottom {
    background-color: blue;
} */