/* commons */
.fs_5 {
    font-size: 0.5rem;
}

.fs_75 {
    font-size: 0.75rem;
}

.my_rounded {
    border-radius: 0.75rem;
}

.my_w2 {
    width: 2%;
}

.my_w8 {
    width: 8%;
}

.my_w50 {
    width: 50%;
}

footer a {
    color: white;
    text-decoration: none;
}

/* header */
/* header-top */

#header-top {
    height: 30px;
    background-color: black;
}

/* jumbotron */
#jumbotron {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#jumbo-2 {
    height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* .debug #header-top {
    background-color: aqua;
}

.debug #header-top h3 {
    background-color: black;
}

.debug #header-bottom {
    background-color: blue;
} */